body h1, h3, h6 {
    text-align: center; 
}

.botonadmin a {
    text-decoration: none;
}

.contenedor {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 40px 20px; 
    max-width: 1200px; 
    margin: 0 auto;
    gap: 40px; 
    margin: 40px auto;
    border: 3px solid #2ECC71;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.botoncrear {
    background-color: #2ECC71; 
    color: white; 
    padding: 12px 20px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
    align-self: center;
    margin-left: 10px;
}

.botoncrear:hover {
    background-color: #27AE60;
}

.botonadmin {
    display: flex;
    justify-content: center;
    width: 100%;
}

.clasep {
    flex-direction: row; 
    gap: 10px; 
    width: 100%; 
    max-width: 900px; 
    margin-bottom: 30px;

}

.clasep label {
    font-size: 20px;
}

.clasep input, select {
    width: 100%; 
}

.claser {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 10px; /* espacio entre cada radio+label */
}

.claser legend {
    grid-column: 1 / -1; /* que el legend ocupe todo el ancho del grid */
    font-size: 20px;
    margin-bottom: 10px;
}

.claser label {
    gap: 5px; 
}

.claser input {
    width: 15px;
}

/* responsive */
@media (max-width: 992px) {
  form input,
  form select,
  form textarea {
    width: 100%;  
    max-width: 100%; 
    }  
}
