body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto;
} /*dejar siempre el footer abajo*/

body h1, p {
    text-align: center;
}

.contenedor {
    display: flex; 
    flex-direction: column; /* Asegura que los elementos se coloquen en fila */
    justify-content: center; 
    align-items: center;
    padding: 40px 20px; 
    max-width: 1200px; 
    margin: 0 auto;
    gap: 40px; 
    margin: 40px auto;
    border: 3px solid #2ECC71;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.fade-slider {
  display: flex;
  flex-wrap: wrap;       /* saltar a la siguiente fila */
  gap: 10px;             /* espacio entre img */
  justify-content: center;
}

.fade-slider img {
  width: 100%;            
  max-width: 300px;       
  height: auto;           
  object-fit: cover;
  flex: 1 1 200px;        /* crece, se encoge, base 200px */
}

.botones a {
    text-decoration: none;
    padding: 10px;
}

.botones button {
    padding: 10px;
}

.botones {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20px; /* espacio entre botones */
    margin-top: 20px; 
}

.botonagregar, .botonerror {
    background-color: #2ECC71; 
    color: white;
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; /* transicion al pasar el mouse */

}

.botonagregar:hover {
    background-color: #27AE60;
}

.botonadmin {
    background-color: #cc462e; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 1rem; 
    transition: background-color 0.3s ease; /* transicion al pasar el mouse */
}

.botonadmin:hover {
    background-color: #802c1d;
}

.botonerror {
    position: relative;
    top: 25px;
}

.botonerror:hover {
    background-color: #27AE60;
}

.error {
    flex-direction: column;
    justify-content: center ;
    text-align: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #27AE60;
    border-radius: 5px;
}

.error img {
    max-width: 400px;
    height: auto;
}

.conterror a {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}