header {
    background-color: #F1F8E9;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    position: relative; 
}

body.dark-mode header {
    background-color: #121212;
    border-bottom: 1px solid #333333;
}

body {
  background: radial-gradient(circle at top left, #F8F8F8, #E0E0E0);
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box; 
}

body.dark-mode main {
    background: #121212;
}


nav ul {
    padding-top: 15px;
    list-style: none;
    display: flex;

}

nav li a {
    /*color: white;*/
    color: #212121;
    font-weight: bold;
    background: linear-gradient(to right, #2ECC71, #2ECC71);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: left;
    border-radius: 999px; /* estilo pastilla */
    text-decoration: none;
      transition:
        background-size 0.4s ease,
        color 0.3s ease,
        transform 0.3s ease;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    white-space: nowrap;
    padding: 12px 28px;
}

body.dark-mode nav li a {
    color: #E0E0E0;
}

nav li a:hover {
  background-size: 100% 100%;
  color: white;
  transform: scale(1.07);
}

nav ul li a {
  color: #212121;
  text-decoration: none;
  transition: color 0.3s ease;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

header button {
    background-color: #2ECC71;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    max-width: 200px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
}

header button a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;

}

.logo-contenedor {
  display: flex;
  flex-direction: column; /* apila logo y mensajito */
  align-items: center;    /* centra el texto con el logo */
}

.mensajito {
  font-size: 12px;
  color: #fafafa;
  font-weight: bold;
  margin-top: 5px;
  transform: rotate(-10deg); /* inclina hacia la derecha */
  text-align: center;
  position: absolute;
  bottom: -25px;
  background-color: #2ECC71;
    /*animacion*/
  opacity: 0;
  animation: fadeInOut 3s forwards; 
}

.botoncuenta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoncuenta:hover {
    background-color: #27AE60;
    transform: scale(1.05); /* Efecto de zoom al pasar el cursor */

}

.iconoburger {
    color: #2ECC71;
    font-size: 30px;
    cursor: pointer;
    display: none; /* Ocultar menu en pantallas grandes */
    z-index: 100; /* Asegura que esté por encima de todo */

}

.dropdownmenu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-out, background 1s ease;
    z-index: 99;

}

.dropdownmenu.open {
    display: block;
    max-height: 300px;
}


.dropdownmenu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}

.liusuario {
    background-color: #C8E6C9; /* Color de fondo diferente para el usuario */
    border-radius: 5px;
    margin: 0.5rem 1rem; /* Margen para separar del borde */
    display: flex;         /* Hace que los hijos estén en línea */
}

.dropdownmenu a {
    text-decoration: none;
    color: black;
    display: block; /*Para que el enlace ocupe todo el espacio del li */
    width: 100%; /*Para que el enlace ocupe todo el espacio del li */
    text-align: center;
}

.dropdownmenu a:hover {
    color: #388E3C;
}


footer {
    /*background: linear-gradient(to left, #FDF6EC, #F8C992);*/
    background-color: #388E3C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap; /* Para que los elementos se organicen en pantallas pequeñas */
    gap: 10px;
    border-top: 1px solid #E0E0E0;
}

footer p {
    margin: 0;
    color: #FAFAFA;
}

footer img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.redes i{
    font-size: 50px;
    margin-right: 10px;
}

.github-info {
    display: flex;
    align-items: center;
    gap: 3px;
}

footer i {
    color: #FAFAFA;
    font-size: 30px;
    padding-right: 5px;
    
}

footer i:hover {
  color: #212121;
  cursor: pointer;
}

@keyframes fadeInOut {
  0%   { opacity: 0; }
  20%  { opacity: 1; }   /* aparece */
  70%  { opacity: 1; }   /* se mantiene visible */
  100% { opacity: 0; }   /* desaparece */
}

/* ###### RESPONSIVE STYLES ###### */

@media (max-width: 992px) {
    nav, .botoncuenta {
        display: none; /* Ocultar el menu en pantallas pequeñas */
    }

    .iconoburger {
        display: block; /* Mostrar el icono del menu en pantallas pequeñas */
    }

    footer {
        flex-direction: column;
    }

    footer p, .github-info, .fa-github {
        margin: 5px 0; /* Espacio vertical para los párrafos y github-info */
        justify-content: center;
        /*width: 100%;*/ /* Ocupa el ancho completo */
        align-items: center;
    }

    .redes {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

}

@media (max-width: 576px) {
    .dropdownmenu {
        left: 2rem; /*Alinea el menu desplegable a la izquierda */
        width: unset; /*Ancho completo en pantallas muy pequeñas */
    }
}