#carouselExampleCaptions {
  width: 95%; 
  margin-left: 2.5%; 
  margin-right: 2.5%; 
}

#carouselExampleCaptions .carousel-item img {
  width: 100%; 
  height: 720px; /*altura fija*/
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}

/* CARTAS */
.cards-section {
  padding: 40px 20px;
  background-color: #f8f9fa;
  text-align: center; 
}

body.dark-mode .cards-section {
    background: #121212;
}

/* Contenedor para alinear las cartas */
.card-container {
  display: flex; 
  flex-wrap: wrap; /* Permite que las cartas salten a la siguiente linea en pantallas pequeñas */
  justify-content: center; /* Centra las cartas horizontalmente */
  gap: 20px; /* Espacio entre las cartas */
  max-width: 1200px; /* Ancho máximo para el contenedor */
  margin: 0 auto; /* Centra el contenedor de cartas en la pagina */
}

/* Estilos para cada carta individual */
.card {
  border: 1px solid #dee2e6; 
  border-radius: 8px; 
  padding: 20px; 
  background-color: #ffffff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  flex: 1 1 300px; /* Permite que las cartas crezcan, se encojan y tengan una base de 300px */
  max-width: 350px; 
  text-align: center; 
  box-sizing: border-box; /* El padding y el border no aumenten el tamaño total */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

body.dark-mode .card {
    background-color: #1E1E1E;
    border: 1px solid #333333;
    color: #E0E0E0;
}

.card:hover {
  box-shadow: 0 8px 20px rgba(0, 191, 255, 0.15);
  transform: translateY(-5px);
  border-color: #388E3C;
}


.card img {
  max-width: 100%; 
  height: 200px; 
  object-fit: cover; /* Recorta la img para que cubra el espacio sin deformarse */
  border-radius: 4px; 
  margin-bottom: 15px;
  transition: filter 0.3s ease;
}

.card:hover img {
  filter: brightness(1.05);
}

.card h3 {
  font-size: 1.5rem; 
  color: #343a40; 
  margin-bottom: 10px; 
}

body.dark-mode .card h3 {
    color: #ffffff;
}

.card p {
  font-size: 1rem; 
  color: #6c757d; 
  line-height: 1.5; 
}

.cards-section {
  background: radial-gradient(circle at top left, #F8F8F8, #E0E0E0);
}


/* responsive */
@media (max-width: 992px) {
    .card {
      flex-basis: calc(50% - 20px); /* Dos cartas por fila en tablets (con gap) */
      max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .card {
    flex-basis: 100%; /* Una carta por fila en celulares */
    max-width: 100%;
    }
}