* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body, #root {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /*mostrar toda la pantalla*/
    background: radial-gradient(circle at top left, #F8F8F8, #E0E0E0);
}

.dashboard {
    width: 100%;
    flex: 1 0 auto;   
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0; /* nunca se encoge */
    margin-top: auto; /* lo empuja al final */
}

body {
    /* font-family: "Montserrat", sans-serif; */
    background: radial-gradient(circle at top left, #F8F8F8, #E0E0E0);
}
