.contenedor-lastuser {
  width: 100%;
  text-align: center;
}

.contenedor-card-user {
  display:flex;
  justify-content:center;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.titulo {
    background-color: #2ECC71;
    text-align: center;
    padding: 10px;
    color: #FAFAFA;
    align-items: center;
}